/* nav */

nav{
    display: flex;
    flex-direction: column;
}

/* searchBar */

.searchBar{
    background-color: var(--componentsColor);
}

.searchBar span{
    background-color: var(--componentsColor);
    color: var(--textColor);
}

.searchBar input[type="text"]{
    color: var(--inputColorText);
    background-color: var(--componentsColor);
}

/* myBtn */

.myBtn{
    background-color: var(--componentsColor);
    color: var(--textColor);
    border: solid 1px var(--textColor);
}

.myBtn:hover{
    background-color: var(--textColor);
    color: var(--componentsColor);
    border: solid 1px var(--textColor);
}

/* dropList */

.dropListBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.dropList{
    background-color: var(--componentsColor);
    color: var(--textColor);
    width: 100%;
    border: none;
}

.dropList:hover{
    background-color: var(--textColor);
    color: var(--componentsColor);
}

.dropList option{
    background-color: var(--componentsColor);
    color: var(--textColor);
}


/* section */

.gridContainer
{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.countryCard{
    background-color: var(--componentsColor);
    cursor: pointer;
    transition: .3s all;
    max-width: 400px;
}

.countryCard a{
    text-decoration: none;
    color: inherit;
}

.countryCard:hover{
    transform: scale(1.05);
}

/*pagination*/

pagination-controls{
    text-align: center;
}

.my-pagination /deep/ .ngx-pagination li:hover {
    background: var(--textColor);
    color: var(--componentsColor);
}

.my-pagination /deep/ .ngx-pagination li a:hover {
    background: var(--textColor);
    color: var(--componentsColor);
}
/*
*************
MEDIA QUERIES
*************
*/

@media only screen and (min-width: 500px) {


    .gridContainer{
        grid-column-gap: 2rem;
    }
}

@media only screen and (min-width: 950px) {

    /* nav */

    nav{
        flex-direction: row;
        justify-content: space-between;
    }

    .searchBar{
        width: 40%;
    }

    .dropListBox{
        width: 20%;
        margin-top: 0;
    }
  }