<!-- nav -->
<nav class="px-4">
  <div class="searchBar input-group shadow mt-5">
    <span class="input-group-text">
      <i class="bi bi-search p-2"></i>
    </span>
    <input type="text" class="form-control" placeholder="Search for a country..." [(ngModel)]="searchTerm" (keyup)="searchCountry()">
  </div>

  <div class="dropListBox">
  <select class="rounded shadow dropList fs-6 p-2">
    <option (click)="changeRegion('All')">All</option>
    <option (click)="changeRegion('Africa')">Africa</option>
    <option (click)="changeRegion('Americas')">America</option>
    <option (click)="changeRegion('Asia')">Asia</option>
    <option (click)="changeRegion('Europe')">Europe</option>
    <option (click)="changeRegion('Oceania')">Oceania</option>
  </select>
</div>
</nav>

<!-- section -->
<section class="mt-5 px-5">
  <div class="gridContainer">
    <div class="countryCard card shadow rounded mb-5"
    *ngFor="let country of filterCountries
    | paginate: { itemsPerPage: 20, currentPage: page, totalItems: total}"
    >
      <a [routerLink]="['/countryData',country.name]">
        <img src="{{country.flag}}" class="card-img-top" alt="{{country.name}}">
        <div class="card-body">
          <h5 class="card-title fw-bold mb-3">{{country.name}}</h5>
          <p class="card-text"><b>Population: </b>{{country.population}}</p>
          <p class="card-text"><b>Region: </b>{{country.region}}</p>
          <p class="card-text"><b>Capital: </b>{{country.capital}}</p>
        </div>
      </a>
    </div>
  </div>
  <pagination-controls class="my-pagination"
  [maxSize]="maxSize"
  [directionLinks]="directionLinks"
  [autoHide]="autoHide"
  [responsive]="responsive"
  [previousLabel]="labels.previousLabel"
  [nextLabel]="labels.nextLabel"
  [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
  [screenReaderPageLabel]="labels.screenReaderPageLabel"
  [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
  (pageChange)="onPageChange($event)"
  (pageBoundsCorrection)="onPageBoundsCorrection($event)"
  ></pagination-controls>
</section>