/* myBtn */

.myBtn{
    background-color: var(--componentsColor);
    color: var(--textColor);
}

.myBtn:hover{
    background-color: var(--textColor);
    color: var(--componentsColor);
}

/* section */

.infoBox h3{
    margin-top: 2rem;
}

section{
    display: flex;
    flex-direction: column;
}

.flagBox img{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.detailsBox{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2em 4rem;
}

.borders{
    display: flex;
    flex-direction: column;
}

.btnGroup{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 1rem;
}

/*
*************
MEDIA QUERIES
*************
*/

@media only screen and (min-width: 500px) {

    .btnGroup{
        grid-template-columns: repeat(3,auto);
    }
}

@media only screen and (min-width: 900px) {

    .infoBox h3{
        margin-top: 0;
    }

    .btnGroup{
        grid-template-columns: repeat(4,auto);
    }

    section{
        flex-direction: row;
        justify-content: space-around;
    }

    .detailsBox{
        grid-template-columns: repeat(2,auto);
    }
}