
<!--Return button box-->
<div class="p-4">
    <button class="btn myBtn shadow px-4" id="returnBtn">
        <span><i class="bi bi-arrow-left"></i> Back</span>
    </button>
</div>

<!--section-->
<section class="my-4 px-4">
    <div class="flagBox">
        <img src="../../../assets/German-flag.jpg" alt="countryFlag">
    </div>

    <div class="infoBox">
        <h3 class="mb-3">Belgium</h3>

        <div class="detailsBox">
            <div>
                <p><b>Native Name:</b> Belgie</p>
                <p><b>Population:</b> Belgie</p>
                <p><b>Region:</b> Belgie</p>
                <p><b>Sub Region:</b> Belgie</p>
                <p><b>Capital:</b> Belgie</p>
            </div>

            <div>
                <p><b>Top Level Domain:</b> Belgie</p>
                <p><b>Currencies:</b> Belgie</p>
                <p><b>Languages:</b> Belgie</p>
            </div>
        </div>

        <div class="borders my-4">
            <h4 class="fw-b fs-5 mb-4">Borders Countries:</h4>
            <div class="btnGroup">
                <button class="btn myBtn">France</button>
                <button class="btn myBtn">France</button>
                <button class="btn myBtn">France</button>
                <button class="btn myBtn">France</button>
                <button class="btn myBtn">France</button>
                <button class="btn myBtn">France</button>
                <button class="btn myBtn">France</button>
                <button class="btn myBtn">France</button>
                <button class="btn myBtn">France</button>
            </div>
        </div>
    </div>
</section>