@font-face {
    font-family: "NunitoSans";
    font-weight:normal;
    src: url("../assets/NunitoSans/NunitoSans-Regular.ttf");
}

.mainContainer{
    font-family: NunitoSans, Arial, Helvetica, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* Light Mode */
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.darkMode{
    --backgroundColor: hsl(207, 26%, 17%);
    --textColor: hsl(0, 0%, 100%);
    --componentsColor: hsl(209, 23%, 22%);
    --inputColorText: hsl(0, 0%, 100%);
}

/* header */

header{
    background-color: var(--componentsColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div{
    display: flex;
    align-items: center;
}

#btn-changeMode{
    border-color: var(--textColor);
    color: var(--textColor);
}

#btn-changeMode:hover{
    background-color: var(--textColor);
    color: var(--componentsColor);
}

/* loadingAnimation */

.overlay{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.loaderBox{
    width: 80%;
    height: 75%;
    background-color:var(--componentsColor);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--componentsColor);
}

.loader {
    border: 8px solid var(--backgroundColor);
    border-top: 8px solid var(--textColor);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
  }

  .loaderBox h3{
      margin-top: 1.5rem;
      color: var(--textColor);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



/*footer*/

footer{
    background-color: var(--componentsColor);
    text-align: center;
    margin-top: auto;
}

@media only screen and (min-width: 500px) {
    .loader{
        border-width: 16px;
        border-top-width: 16px;
        width: 128px;
        height: 128px;
    }
  }

  @media only screen and (min-width: 700px) {
    .loaderBox{
        width: 50%;
    }
  }