@font-face {
    font-family: "NunitoSans";
    font-weight:normal;
    src: url("./NunitoSans/NunitoSans-Regular.ttf");
}

body{
    font-family: NunitoSans, Arial, Helvetica, sans-serif;
    /* Light Mode */
    --backgroundColor: hsl(0, 0%, 90%);
    --textColor: hsl(200, 15%, 8%);
    --componentsColor: hsl(0, 0%, 100%);
    --inputColorText: hsl(0, 0%, 52%);

    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.darkMode{
    --backgroundColor: hsl(207, 26%, 17%);
    --textColor: hsl(0, 0%, 100%);
    --componentsColor: hsl(209, 23%, 22%);
    --inputColorText: hsl(0, 0%, 100%);
}

/* header */

header{
    background-color: var(--componentsColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div{
    display: flex;
    align-items: center;
}

#btn-changeMode{
    border-color: var(--textColor);
    color: var(--textColor);
}

#btn-changeMode:hover,:focus{
    background-color: var(--textColor);
    color: var(--componentsColor);
}

/* nav */

nav{
    display: flex;
    flex-direction: column;
}

.searchBar{
    background-color: var(--componentsColor);
}

.searchBar span{
    background-color: var(--componentsColor);
    color: var(--textColor);
}

.searchBar input[type="text"]{
    color: var(--inputColorText);
    background-color: var(--componentsColor);
}

.dropList button{
    background-color: var(--componentsColor);
    color: var(--textColor);
}

.dropList button:hover,:focus{
    background-color: var(--textColor);
    color: var(--componentsColor);
}

.dropList ul{
    background-color: var(--componentsColor);
}

.dropList ul li a{
    color: var(--textColor);
}

.dropList ul li a:hover,:focus{
    background-color: var(--textColor);
    color: var(--componentsColor);
}

/* section */

.gridContainer
{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.countryCard{
    background-color: var(--componentsColor);
}

/*footer*/

footer{
    background-color: var(--componentsColor);
    text-align: center;
}

/*
*************
MEDIA QUERIES
*************
*/

@media only screen and (min-width: 500px) {


    .gridContainer{
        grid-column-gap: 2rem;
    }
}

@media only screen and (min-width: 950px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
    }

    .searchBar{
        width: 40%;
    }

    .dropList{
        width: 20%;
    }

    .dropList button{
        width: 100%;
    }

    .dropList ul{
        width: 100%;
    }
  }